<div class="containor flex w-full flex-col justify-center items-center">
    <h1 class="text-7xl text-white font-semibold text-center">Unlimited movies, TV <br> shows and more.</h1>
    <h1 class="text-white text-3xl align-left mt-6 text-center">Watch anywhere. Cancel anytime </h1>
    <h1 class="text-xl text-white mt-4 text-center">Ready to watch? Enter your email to create or restart your membership.</h1>
    <div class="containorSearchInput flex w-[90%] mt-10 p-2 justify-center items-center">        
        <input type="text" class="w-full py-5 placeholder:p-4" placeholder="Email Address">
        <button class="py-5 bg-[#E50914] text-white px-10 self-center">Start</button> 
    </div>
</div>