<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sample Angular Project</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"
      integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="index.js"></script>
    <script src="services/sample.js"></script>
  </head>
  <body ng-app="myapp">
    <h1>{{1+2}}</h1>
    <div ng-controller="mycontroller">
      <h1>{{message}}</h1>
      <h1>{{test}}</h1>
      <h1>This is the test {{dataAPI[0].price}}</h1>
      <h1>Image is {{test.image}}</h1>
      <img ng-src="{{test.image}}" alt="" />
      <input type="text" ng-model="sampleName" />
      <h1>{{sampleName}}</h1>
    </div>
    <!-- div for checking the ng-directive attribute -->
    <div class="test" ng-controller="ng-repeat-test">
      <h1>{{postman}}</h1>
      <!-- //creating the table here  -->
      <table>
        <thead>
          <td>Name</td>
          <td>Age</td>
        </thead>
        <tr ng-repeat="persons in sampleObject">
          <td>{{persons.name}} and the index is {{$index}}</td>
          <td>{{persons.age}}</td>
        </tr>
        <div class="containorTest" ng-repeat="persons in sampleObject">
          <p>Hello world</p>
          <div ng-repeat="city in persons.cities">
            <h1>
              {{city}} parent index is {{$parent.$index}} and the local index is
              {{$index}}
            </h1>
          </div>
        </div>
      </table>
    </div>
    <br>
    <br>
    <br>


    <!-- New Containor for Testing the click event -->
    <div class="clickEvent" ng-controller="ng-click-directive-test">
        <h1>{{sampleNumber | number:2}}</h1>
        Rows to Display : <input type="number" step="1" max="5" min="0" ng-model="stepValue">
        <table>
            <thead>
                <td>Technology Name</td>
                <td>Likes</td>
                <td>Dislikes</td>
            </thead>
            <tbody ng-repeat="name in technologies | limitTo:stepValue">
                <td>{{name.technology}}</td>
                <td>{{name.likes}}</td>
                <td>{{name.dislikes}}</td>
                <td><input type="button" ng-click="AddLikes(name)" value="Like"></td>
                <td><input type="button" ng-click="AddDislikes(name)" value="Dislike"></td>
            </tbody>
        </table>
    </div>




    <!-- Container for testting simple dates -->
    <div class="containorTest" ng-controller="ng-filter-test">
      <h1>{{numberVal | currency}}</h1>
      <h1>{{dateUser | date:dd/MM/YY}}</h1>
      for Lowercase we can ues lowercase and for uppercase we can use uppercase
      <h1>{{randomString | lowercase}}</h1>
    </div>


    <!-- Containor For Testing the search app  -->
    <div class="table-containor" ng-controller="search-control">
      Search from this search textbox <input type="text" placeholder="search" ng-model="searchText" />
      <br><br>
      <table>
        <thead>
          <td>Name</td>
          <td>City</td>
          <td>Likes</td>
          <td>Dislikes</td>
        </thead>
        <tbody ng-repeat ="person in sampleObject | filter:searchText ">
          <td>{{person.technology}}</td>
          <td>{{person.city}}</td>
          <td>{{person.likes}}</td>
          <td>{{person.dislikes}}</td>
        </tbody>
      </table>  
      <br> 

    </div>



    <!-- Containor Sample with exact value containor -->
      <!-- Containor For Testing the search app  -->
      <div class="table-containor" ng-controller="search-control">
        Search from this search textbox <input type="text" placeholder="search" ng-model="searchText.technology" />
        <br>
        <br>
        Search with the city Name <input type="text" placeholder="city" ng-model="searchText.city" />
        <br><br>

      <input type="checkbox" name="test" ng-model="exactMatch">
      <label for="test">Enter this checkbox for exact value</label>
        <table>
          <thead>
            <td>Name</td>
            <td>City</td>
            <td>Likes</td>
            <td>Dislikes</td>
          </thead>
          <!-- Filter Takes 2 arguements First one is the search model name and second obe means wether you want to take exact value which is true or false  -->
          <tbody ng-repeat ="person in sampleObject | filter:searchText:exactMatch">
            <td>{{person.technology}}</td>
            <td>{{person.city}}</td>
            <td>{{person.likes}}</td>
            <td>{{person.dislikes}}</td>
          </tbody>  
        </table>   
  
      </div>



      <!-- Containor For Testing the http method gor getting the apis  -->
      <div class="containorhttp" ng-controller="httpService">
        <h1>{{dataNew}}</h1>
      </div>



      <!-- Testing the custom factory service -->
      <div class="containorService" ng-controller="test-factory">
        <input type="text" ng-model="helperText" placeholder="Type Something">
        <br>
        <h1>{{helperText}}</h1>
        <p>Answer is : </p> <p>{{answer}}</p>
        <br><br>
        <input type="button" value="Click Me" ng-click="clickEvent()">
      </div>
  </body>
</html>
