<div
  class="sampleBackground h-screen w-full"
  ng-controller="controllerLogin"
>
  <div
    class="containorNav w-full h-[150px] bg-transparent flex justify-between px-4 items-center"
  >
    <div class="containorLogo">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Netflix_2015_logo.svg/1280px-Netflix_2015_logo.svg.png"
        class="object-contain h-40 w-40"
        alt=""
      />
    </div>
    <div class="containorButtons p-3">
      <button class="py-3 px-10 bg-[#E50914] text-white mr-4">
        <a href="#/login">Login</a>
      </button>
      <button class="py-3 px-10 border border-white text-white text-white mr-4">
        English
      </button>
    </div>
  </div>
  <div
    class="containorShow w-full p-2 flex h-[70%] justify-center items-center"
  >
    <div
      class="containor flex w-full flex-col justify-center items-center hidden"
    >
      <h1 class="text-7xl text-white font-semibold text-center">
        Unlimited movies, TV <br />
        shows and more.
      </h1>
      <h1 class="text-white text-3xl align-left mt-6 text-center">
        {{dataFrontPage.frontTagline}}
      </h1>
      <h1 class="text-xl text-white mt-4 text-center">
        {{dataFrontPage.tagLine}}
      </h1>
      <div
        class="containorSearchInput flex w-[40%] mt-10 p-2 justify-center items-center"
      >
        <input
          type="text"
          class="w-full py-5 outline-none placeholder:p-4 input:p-4"
          placeholder="Email Address"
          required
          pattern=""
        />
        <button class="py-5 p-4 bg-[#E50914] text-white px-10 w-56">
          Get Started
        </button>
      </div>
    </div>
    <form ng-submit="register()">
    <div class="containorLogin py-16 px-16 flex flex-col justify-center items-center bg-black rounded-lg">
      <div class="header w-full flex justify-start">
        <h1 class="text-white font-medium text-4xl">Sign In</h1>
      </div>
        <input type="text" placeholder="Email or phonenumber" class=" text-white px-4 outline-none w-[300px] py-4 placeholder:px-5 mt-10 rounded-md bg-[#333333]" pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" required>
        <!-- <p class="text-red-600 text-sm text-left w-full flex justify-start mt-1 mb-1 px-2">This is the error</p> -->
        <input type="text" placeholder="Password" class="w-[300px] outline-none px-4 text-white py-4 placeholder:px-5 mt-5 rounded-md bg-[#333333]" pattern=".{8,}" required>
        <input type="submit" value="Sign In"  class="mt-8 bg-[#E50914] text-white w-[300px] py-4 rounded-md"><a >Sign In</a></input>
  
      <!-- Checkboxes for forget password and need help like netflix -->
        <div class="contaninorCheckBoxes w-full flex justify-between px-3 py-2">
          <div class="checkbox">
            <input type="checkbox" id="rememberMe" name="rememberMe" value="rememberMe">
            <label for="rememberMe" class="text-gray-300">Remember me</label>
          </div>
          <div class="checkbox">
            <a href="#" class="text-gray-300">Need help?</a>
        </div>
    </div>
  </form>
    <div class="containorSpace w-full py-8 bg-black"></div>
    <div class="containorCheck flex p-3 flex flex-start w-full">
      <h1 class="text-gray-400 text-left text-lg">New to Netflix?<span class="text-white text-lg">Signup up Now</span></h1>
    </div>
    <div class="containorText w-full p-2 w-[300px]">
      <h1 class="text-gray-500 text-sm"> This page is protected by Google reCAPTCHA to ensure you're not a bot. Learn more.</h1>
    </div>
  </div>
</div>
