<!-- Loader Containor -->
<!-- Hello world
    <button id="logout">Log Out</button> -->
<div ng-controller="dashboardController">
  <div class="containorHome w-full bg-black">
    <div
      class="containorBackdrop position-relative w-full heightBackDrop"
      ng-style="{'background-image' : 'url(' + backdrop + ')'}"
      id="containorBackdrop"
    >
      <!-- Replaced the Below code with the navar Component -->
      <div class="navbar w-full p-3 px-5 d-flex justify-content-between">
        <div class="logo">
          <img
            class="image-logo-netflix"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Netflix_2015_logo.svg/1280px-Netflix_2015_logo.svg.png"
            alt=""
          />
        </div>
        <div class="navbar-right d-flex">
          <div class="navbar-right-item">
            <img
              id="logout"
              src="../../public/images/Netflix-avatar.png"
              class="notification"
              alt="notifications"
            />
          </div>
        </div>
      </div>
      <!-- End  -->

      <div id="sidebar" class="sidebar" style="display: none">
        <div
          class="containorHeaderClose border-right w-full p-4 d-flex px-3 justify-content-end"
        >
          <div class="closeIcon">
            <i id="iconClose" class="fas fa-times text-white"></i>
            <!-- Disbaled Button -->
          </div>
        </div>
        <div class="containorEditProfile w-100 p-3">
          <h1 class="text-white p-3 font-weight-bold">Profile</h1>
          <div class="containorTwo d-flex">
            <div class="containorIcon w-25">
              <img
                class="avatar"
                src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Netflix-avatar.png"
                alt=""
              />
            </div>
            <div class="containorData w-75 p-1 d-flex flex-column">
              <div
                class="containorUserEmail w-full p-2 d-flex justify-content-center align-items-center"
              >
                <h5 id="emailUser" class="text-white font-weight-bold">
                  User Name
                </h5>
              </div>
              <button
                id="logout1"
                class="w-full p-2 text-white outline-none mainColorbg"
              >
                Sign Out
              </button>
            </div>
          </div>
          <button
            id="editProfileMain"
            class="w-100 border border-white rounded-sm py-2 mt-5 text-white bg-transparent"
          >
            Edit Profile
          </button>

          <form
            action=""
            id="editProfile"
            class="w-100 p-3 mt-5"
            style="display: none"
          >
            <!-- <h4 class="text-white">Edit Your Data</h4> -->
            <input
              id="username"
              type="text"
              class="input px-3 w-full py-3 text-white rounded-sm inputBackground outline-none mt-4"
              placeholder="username"
              pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$|^[a-zA-Z0-9+_.-]+$"
              required
            />
            <input
              id="phone"
              type="text"
              class="input px-3 w-full py-3 text-white rounded-sm inputBackground outline-none mt-4"
              placeholder="mobile number"
              pattern="^[0-9]{10}$"
              required
            />
            <p
              id="errorUsername"
              class="mainColor p-1 mt-1 mb-1"
              style="display: none"
            ></p>

            <button
              class="w-full py-3 mt-4 outline-none mainColorbg text-white rounded-sm"
              type="submit"
            >
              Edit The Profile
            </button>
          </form>
        </div>
      </div>
      <div
        class="containorHeaderFull p-lg-5 py-4 d-flex justify-content-start"
        id="containorHeaderFull"
      >
        <div class="containorHeader p-3">
          <h1 class="text-white font-weight-bold mb-3" id="headerWelcome">
            <!-- The Last Kingdom -->
            {{data[randomIndex].original_title}}
          </h1>
          <button class="bannerButton">Play</button>
          <button class="bannerButton mb-2">My List</button>
          <p class="text-white w-25" id="bannerDiscription">
            {{bannerOverview}}
          </p>
        </div>
      </div>
      <!-- <div class="containorFullFade bottom-0 p-3"></div> -->
    </div>
    <div
      class="containorNetflixOriginals w-full p-3 px-4 mt-lg-5 d-flex flex-column justify-content-around"
    >
      <h2 class="text-white font-weight-bold">Netflix Originals</h2>
      <div id="containorShows" class="containorShows w-full p-3">
        <div
          class="containorPoster max-height-poster"
          ng-repeat="element in data"
          ng-click="clickedChangeBanner(element.original_title, element.overview, element.id)"
        >
          <img ng-src="{{posterPath + element.poster_path}}" alt="" />
        </div>
        <!-- Images will be dynamically injected  -->
        <div id="containorShows" class="containorShows w-full p-3">
          <div
            class="containorPoster max-height-poster"
            ng-repeat="element in data"
            ng-click="clickedChangeBanner(element.original_title, element.overview, element.id)"
          >
            <img ng-src="{{posterPath + element.poster_path}}" alt="" />
          </div>
          <!-- Images will be dynamically injected  -->
          
            <!-- <div
              class="containorPoster max-height-poster"
              ng-repeat="element in data"
              ng-click="clickedChangeBanner(element.original_title, element.overview)"
            >
              <img src="{{posterPath + element.poster_path}}" alt="" />
            </div> -->
          </div>
        </div>
      </div>

      <div
        id="containorClicked"
        class="containorMatch p-3 w-100 pr-0"
        ng-style="{'display': containorOpen ? 'block' : 'none'}"
      >
        <div
          class="containorClickedInside w-100 p-3 d-flex justify-content-center align-items-center position-relative"
        >
          <!-- Iframe             -->
          <i
            id="closeShowCase"
            class="iconClicked fa-sharp fa-solid fa-circle-xmark"
            ng-click="closeContainor()"
          ></i>
          <iframe
            id="iframe"
            width="660"
            height="415"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>

          <div
            class="containorInformation p-5 d-flex flex-column justify-content-start w-50"
          >
            <h2 id="cardMovieContentHeader" class="text-white text-bold px-3">
              {{videoHeaderName}}
            </h2>
            <p id="cardMovieContent" class="text-white px-3">
              {{videoOverview}}
            </p>
            <div
              id="containorShowsAction1"
              class="containorShows w-full p-3 mb-1"
            >
              <!-- Images will be dynamically injected  -->
              <div
                class="containorPoster max-height-poster"
                ng-repeat="element in second"
              >
                <img ng-src="{{posterPath + element.poster_path}}" alt="" />
              </div>
            </div>

          </div>
          </div>
          <!-- End -->
        </div>
      </div>
      <div
      class="containorNetflixOriginals w-full p-3 px-4 mt-lg-5 d-flex flex-column justify-content-around"
    >
      <h2 class="text-white font-weight-bold mt-4">Discover</h2>
      <div id="containorShowsAction" class="containorShows w-full p-3 mb-1">
        <!-- Images will be dynamically injected  -->
        <div
          class="containorPoster max-height-poster"
          ng-repeat="element in second"
        >
          <img ng-src="{{posterPath + element.poster_path}}" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
